<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR29eTHMyHIynlApED-qIQyJO2AOojw-u-HRVBfLW6X__NsFii'>
</div>
<h2>This is the humidity of Texas {{data?.main.humidity}} </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=XTvFQEXClhE">Intro to Texas</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=xmGZ5Hk-uF4">History of Texas in a Nutshell</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=lrk4oY7UxpQ">Texas Crash Course</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
